<div class="session-show">
  <div class="session-show-header">
    <h1><%= @session.title %></h1>
    <div class="actions">
      <%= link_to 'Edit', edit_session_path(@session), class: 'button secondary' %>
      <%= button_to 'Delete', session_path(@session), 
                    method: :delete, 
                    class: 'button danger',
                    data: { turbo_confirm: 'Are you sure?' } %>
      <%= link_to 'Back', sessions_path, class: 'button' %>
    </div>
  </div>

  <div class="session-show-content">
    <div class="session-info-panel">
      <div class="session-style">
        <%= @session.style %>
      </div>

      <div class="session-datetime">
        <h3>When</h3>
        <p class="date"><%= @session.start_time.strftime("%A, %B %d, %Y") %></p>
        <p class="time">
          <%= @session.start_time.strftime("%I:%M %p") %> - 
          <%= @session.end_time.strftime("%I:%M %p") %>
        </p>
      </div>

      <div class="session-venue">
        <h3>Where</h3>
        <h4><%= @session.location.name %></h4>
        <p><%= @session.location.address %></p>
        <p><%= @session.location.city %>, <%= @session.location.state %> <%= @session.location.zip_code %></p>
      </div>

      <% if @session.notes.present? %>
        <div class="session-notes">
          <h3>Additional Notes</h3>
          <%= simple_format @session.notes %>
        </div>
      <% end %>
    </div>

    <div class="map-container" 
         data-controller="map"
         data-map-latitude-value="<%= @session.location.latitude %>"
         data-map-longitude-value="<%= @session.location.longitude %>"
         data-map-name-value="<%= @session.location.name %>">
    </div>
  </div>
</div> 